.chat-room {
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    outline: 1px solid blue;
    height: 100vh;
}

.channel-list, .message-area, .channel-info, .input-area { 
    outline: 1px solid red;
}

.message-area {
    display: grid;
    grid-template-rows:8fr 1fr;
}

